---
interface Props {
  divided?: boolean;
  class?: string;
}

const { divided = false, class: className } = Astro.props;
---

<section class:list={["content-section", { divided }, className]}>
  <slot />
</section>
