---
---
<theme-toggle>
	<button>
		<span class="sr-only">Toggle theme</span>
		<span class="icon sun">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<circle cx="12" cy="12" r="5"></circle>
				<line x1="12" y1="1" x2="12" y2="3"></line>
				<line x1="12" y1="21" x2="12" y2="23"></line>
				<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
				<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
				<line x1="1" y1="12" x2="3" y2="12"></line>
				<line x1="21" y1="12" x2="23" y2="12"></line>
				<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
				<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
			</svg>
		</span>
		<span class="icon moon">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
			</svg>
		</span>
	</button>
</theme-toggle>

<style>
	button {
		display: flex;
		border: 0;
		border-radius: 50%;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		color: #333;
	}

	.icon {
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
	}

	.icon.sun {
		display: none;
	}

	.icon.moon {
		display: flex;
	}

	:global(.dark) .icon.sun {
		display: flex;
	}

	:global(.dark) .icon.moon {
		display: none;
	}

	:global(.dark) button {
		color: #ccc;
	}
</style>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();

			const button = this.querySelector('button');

			/** Set the theme to dark/light mode. */
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? 'add' : 'remove']('dark');
				button?.setAttribute('aria-pressed', String(dark));
			};

			// Toggle the theme when a user clicks the button.
			button?.addEventListener('click', () => {
				setTheme(!document.documentElement.classList.contains('dark'));
			});
		}
	}
	customElements.define('theme-toggle', ThemeToggle);
</script>
